body {
    background-image: url("/CounterApp/gym.jpg");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 99vh;
    color: rgb(180, 45, 166);
}

.container {
    background-color: white;
    opacity: 0.9;
    max-width: 85%;
    margin: auto;
    border: 3px solid rgb(180, 45, 166);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(22, 163, 44);
}

#save-btn {
    background: rgb(232, 160, 5);
}